{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Mot de passe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Créer un nouveau Mot de passe</h1>
            <p>Entrez votre nouveau mot de passe</p>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
