{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Mot de passe oublié</h1>
            <p>Entrez votre adresse mail pour récuperer votre compte</p>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
