{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>S'inscrire</h1>
            {{ form_start(form_register) }}
            {{ form_end(form_register) }}
        </div>
    </div>
{% endblock %}
