{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog 
    {% if slogan %} 
        - {{ slogan }} 
    {% endif %} 
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Bienvenue sur mon Blog</h1>
        {% if slogan %} 
            <h2>{{ slogan }}</h2>
        {% endif %}
        
        <hr>
        {% if age >= 18 %}
        <p>Bonjour {{ firstname }}, tu es majeur!</p>
        {% else %}
        <p>Bonjour {{ firstname }}, tu es mineur!</p>
        {% endif %}
    </div>
</div>
{% endblock %}