{% extends 'base.html.twig' %}

{% block title %}Mon Blog - {{ page.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Mon Blog - {{ page.title }}</h1>
       
    </div>
    <div class="row">
        <div class="col">
            {{ page.content|raw }}
        </div>
       
    </div>
</div>
{% endblock %}