<form method="post" action="{{ path('app_admin_blog_role_delete', {'id': blog_role.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog_role.id) }}">
    <button class="btn">Delete</button>
</form>
