{% extends 'admin.html.twig' %}

{% block title %}Edit BlogRole{% endblock %}

{% block body %}
    <h1>Edit BlogRole</h1>

    {{ include('admin_blog_role/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_blog_role_index') }}">back to list</a>

    {{ include('admin_blog_role/_delete_form.html.twig') }}
{% endblock %}
