{% extends 'admin.html.twig' %}

{% block title %}BlogRole index{% endblock %}

{% block body %}
    <h1>BlogRole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InternalName</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_role in blog_roles %}
            <tr>
                <td>{{ blog_role.id }}</td>
                <td>{{ blog_role.internalName }}</td>
                <td>{{ blog_role.label }}</td>
                <td>
                    <a href="{{ path('app_admin_blog_role_show', {'id': blog_role.id}) }}">show</a>
                    <a href="{{ path('app_admin_blog_role_edit', {'id': blog_role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_blog_role_new') }}">Create new</a>
{% endblock %}
