{% extends 'admin.html.twig' %}

{% block title %}New BlogRole{% endblock %}

{% block body %}
    <h1>Create new BlogRole</h1>

    {{ include('admin_blog_role/_form.html.twig') }}

    <a href="{{ path('app_admin_blog_role_index') }}">back to list</a>
{% endblock %}
