{% extends 'admin.html.twig' %}

{% block title %}BlogRole{% endblock %}

{% block body %}
    <h1>BlogRole</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_role.id }}</td>
            </tr>
            <tr>
                <th>InternalName</th>
                <td>{{ blog_role.internalName }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ blog_role.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_blog_role_index') }}">back to list</a>

    <a href="{{ path('app_admin_blog_role_edit', {'id': blog_role.id}) }}">edit</a>

    {{ include('admin_blog_role/_delete_form.html.twig') }}
{% endblock %}
