{% extends 'admin.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}

<div class="">
    <h1>Tableau de Bord</h1>

    <hr>
    {{ render_chart(chart) }}
    <hr>
    <section class="row" style="max-height:150px; overflow:auto" >
        <div class="col">
            <h2>Articles en brouillon</h2>
            <!-- TODO mettre les articles sous forme de liste -->
            <ul>
                {% for article in articlesToPublish %}
                <li>{{ article.title }}</li>
                {% endfor %}

            </ul>
        </div>
        <div class="col">
            <h2>Articles publié</h2>
            <!-- TODO mettre les articles sous forme de liste -->
            <ul>
                {% for article in articlesPublished %}
                <li>{{ article.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <h2>Article Par author</h2>
    <section class="row" style="max-height:150px; overflow:auto">
        <div class="col">
            <ul>
            {% for article in articleByAuthor %}
                <li>{{ article.author}}: - {{ article.title }}</li>
            {% endfor %}
        </ul>
        </div>
    </section>

    <h2>Article Informatique</h2>
    <section class="row" style="max-height:150px; overflow:auto">
        <div class="col">
            <ul>
            {% for article in articleByCategory %}
                <li> {{ article.title }}</li>
            {% endfor %}
        </ul>
        </div>
    </section>

</div>
{% endblock %}