{% extends 'base.html.twig' %}

{% block title %}mon Profil{% endblock %}

{% block body %}


<div>
    <h1>{{ user_profile.user.firstname }} mettez à Jour mon Profil</h1>
    <div>
        {{ form_start(form_avatar) }}
        {{ form_end(form_avatar) }}
    </div>
</div>

{% endblock %}