{% extends 'base.html.twig' %}

{% block title %}Voir le profil {{ user_profile.user.firstname }}{% endblock %}

{% block body %}


<div>
    <h1>Profil de {{ user_profile.user.firstname }}</h1>

    {% if can_edit %}
        <a class="btn btn-primary" href="{{ path('app_user_edit_profile', {'id': user_profile.id }) }}">Editer mon profil</a>    
    {% endif %}
    
    <h2>Description</h2>
    {% if user_profile.biography %}

    <p>{{ user_profile.biography }}</p>

    {% else %}

    <p>Pas de bio</p>

    {% endif %}
</div>

<div class="articles">
    <h2>Ses articles</h2>

    <ul class="list-group">
        {% for article in user_profile.user.articles %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ path('article_show', {'id': article.id })}}">
                {{ article.id }} - {{ article.title }}
            </a>
            <span class="badge bg-primary rounded-pill">{{ article.createdAt|date('d/m/Y') }}</span>
        </li>
        {% endfor %}

    </ul>

</div>
{% endblock %}