<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset("style/bootstrap_admin.min.css") }}">
    <link rel="stylesheet" href="{{ asset("style/style.css") }}">
    
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

    {% include 'parts/_main_menu.html.twig' %}

    <!-- 
        MESSAGE FLASH 
    -->

{% for type, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ type }}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
  
    {% endfor %}
  {% endfor %}


    <div class="container-fluid">
    
    <div class="row">
        <div class="col-2 border bg-light text-light">
            admin
            <nav class="p-2"> 
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item mt-2 ">
                        <a class="btn {% if active == "nav_dashboard" %}  btn-outline-primary  {% else %} btn-primary {% endif %}" href="{{ path('app_admin_dashboard') }}">
                            Tableau de bord
                        </a>
                    </li>
                    <li class="nav-item mt-2 ">
                        <a class="btn {% if active == "nav_article" %}  btn-outline-primary  {% else %} btn-primary {% endif %}" href="{{ path('app_admin_article_index') }}">
                            Articles
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="btn   {% if active == "nav_status" %}  btn-outline-primary {% else %} btn-primary {% endif %}"  href="{{ path('app_admin_status_index') }}">
                            Statuts
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="btn   {% if active == "nav_blog_role" %}  btn-outline-primary {% else %} btn-primary {% endif %}"  href="{{ path('app_admin_blog_role_index') }}">
                            Roles
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="btn   {% if active == "nav_user" %}  btn-outline-primary {% else %} btn-primary {% endif %}"  href="{{ path('app_admin_user_index') }}">
                            Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="btn {% if active == "nav_custom_page" %}  btn-outline-primary {% else %} btn-primary {% endif %}"  href="{{ path('app_admin_custom_page_index') }}">
                            Gestion page interne
                        </a>
                    </li>
                </ul>
                
            </nav>
        </div>
        <div class="col-9 offset-1">
            {% block body %}{% endblock %}
        </div>
    </div>

    
    </div>
    {% block footer %}Footer ici{% endblock %}
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
</body>

</html>