<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset("style/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("style/style.css") }}">
    <!-- FIXME l'ajouter à webpack -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

    {% include 'parts/_main_menu.html.twig' %}

    <!-- 
        MESSAGE FLASH 
    -->
{% for type, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ type }}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
  
    {% endfor %}
  {% endfor %}

    <div class="container">
    {# C'est un commentaire #}
    {% block body %}{% endblock %}
    </div>
    {% block footer %} {% include "parts/_footer.html.twig" %} {% endblock %}
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
</body>

</html>