{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
<div class="row">
<h1>Les articles</h1>
</div>
<div class="row">
    <section class="articles">
        {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">écrit le 30/11/2021 à 11h00 par {{ article.author.lastname|upper ~ " " ~ article.author.firstname }} dans la categorie {{ article.category.label }}</div>
            <div class="content">
                {% if article.imageName %}
                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('my_thumb') }}" alt="image sur {{ article.title }}">
                {% else %}
                <img src="{{ asset("assets/default.jpg") | imagine_filter('my_thumb') }}"    
                {% endif %}
                
                <p>
                    {{ article.content|raw }}
                </p>
                <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite...</a>
                <a href="{{ path('article_show_slug', {'slug': article.slug}) }}" class="btn btn-primary">lire la suite...</a>

                
                <!-- <a href="{{ path('article_like', {'id': article.id}) }}" title="liker">-->
                    <span>
                    {% if app.user %}
                        {% if article.isAlikedByUser(app.user) %}
                            <i class="bi bi-heart-fill text-danger like" data-article-id="{{article.id}}"
                             data-like-url="{{ path('article_like_ajax', {'id': article.id }) }}"></i>
                        {% else %}
                            <i class="bi bi-heart like" data-article-id="{{article.id}}" data-like-url="{{ path('article_like_ajax', {'id': article.id }) }}"></i>
                        {% endif %}
                    {% else %}
                        <i class="bi bi-heart text-muted"></i>
                    {% endif %}
                    <span id="counter-{{article.id}}">{{ article.alikes|length }}</span>
                    </span>
            </div>
        </article>
        {% endfor %}
       
    </section>
</div>

<script>
    let listLikes = document.querySelectorAll('.like');

    for(let i=0; i < listLikes.length; i++) {

        listLikes[i].addEventListener('click', function(e){
            e.preventDefault();
            
            console.log(this.dataset.likeUrl);
            let url =  this.dataset.likeUrl;
            let xhr = new XMLHttpRequest();

            xhr.open("GET", url);
            xhr.send();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) { // 4 = terminé
                    let res = JSON.parse(xhr.responseText);

                    let article = "counter-" + listLikes[i].dataset.articleId;
                    let counter = document.querySelector("#"+article)
                    
                    let cpt = counter.innerText;
                    if(res['code'] == 10){
                        // unlike
                        listLikes[i].classList.remove("bi-heart-fill");
                        listLikes[i].classList.add("bi-heart");
                    
                        counter.innerText = cpt-1;

                    } else {
                        // like
                        listLikes[i].classList.remove("bi-heart");
                        listLikes[i].classList.add("bi-heart-fill");
                        
                        counter.innerText = parseInt(cpt)+1;
                    }

                }
            }
        })
    }
</script>

{% endblock %}
