{% extends 'base.html.twig' %}

{% block title %}
Nouvel article
{% endblock %}

{% block body %}
<div class="row">
	<h1>{{ pageTitle }}</h1>

	<article>
		{{ form(formArticle) }}


		{#{ form_start(formArticle) }}

		<div><span>
			{{ form_widget(formArticle.submit) }}
			{{ form_widget(formArticle.content) }}

		</span></div>
		{{ form_end(formArticle) }#}

	</article>
</div>

{% endblock %}