
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home') }}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_new') }}">Ajouter un article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cgu') }}">CGU</a>
                    </li>
                   
                </ul>
               
                <ul class="navbar-nav">

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_security_logout') }}">Se déconnecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_user_show_profile', {'id': app.user.userProfile.id}) }}">
                                {% if app.user.userProfile.avatarName %}
                                    <img  class="img-fluid img-circle avatar-img" src="{{ vich_uploader_asset(app.user.userProfile, 'avatarFile') }}" alt="avatar de {{ app.user.firstname }}">
                                {% else %}
                                    <img class="img-fluid img-circle avatar-img" src="{{ asset('assets/images/avatar_base.png') }}">
                                {% endif %}
                                
                            
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_security_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_security_register') }}">S'enregistrer</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>